{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1 class="mb-5">Vehicule index</h1>
    <div class="container">
    <table id="datatable" class="table table-striped table-hover table-responsive cell-border">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Brand</th>
                <th>Serie</th>
                <th>Serial_number</th>
                <th>Color</th>
                <th>License_plate</th>
                <th>Kilometers</th>
                <th>Purchase_date</th>
                <th>Purchase_price</th>
                <th>Status</th>
                <th>Type</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>
                    {% if vehicule.image %}
                        {% if vehicule.image starts with 'http' %}
                            <img src="{{ vehicule.image }}" class="img-fluid rounded-circle" />
                        {% else %}
                            <img src="/assets/uploads/vehicule/{{ vehicule.image }}" class="img-fluid rounded-circle" />
                        {% endif %}
                    {% else %}
                        <img src="/assets/img/vehicule.png" class="img-fluid rounded-circle" />
                    {% endif %}
                </td>
                <td>{{ vehicule.brand }}</td>
                <td>{{ vehicule.serie }}</td>
                <td>{{ vehicule.serialNumber }}</td>
                <td>{{ vehicule.color }}</td>
                <td>{{ vehicule.licensePlate }}</td>
                <td>{{ vehicule.kilometers }}</td>
                <td>{{ vehicule.purchaseDate ? vehicule.purchaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.purchasePrice }}</td>
                <td>{{ vehicule.status }}</td>
                <td>{{ vehicule.type.name }}</td>
                <td>{{ vehicule.ville.name }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Show</a>
                    <a> | </a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}">Create new</a>
    </div>
{% endblock %}
