{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1 class="mb-5">Vehicule</h1>

    <div class="container">

    <div class="row">
        <div class="col-6 ml-5">
            <a href="/vehicule/{{ vehicule.id }}/edit"><i class="fas fa-edit"></i> Edit</a>
            
            <table class="table table-hover mt-3">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ vehicule.id }}</td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td>{{ vehicule.brand }}</td>
                    </tr>
                    <tr>
                        <th>Serie</th>
                        <td>{{ vehicule.serie }}</td>
                    </tr>
                    <tr>
                        <th>Serial_number</th>
                        <td>{{ vehicule.serialNumber }}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>{{ vehicule.color }}</td>
                    </tr>
                    <tr>
                        <th>License_plate</th>
                        <td>{{ vehicule.licensePlate }}</td>
                    </tr>
                    <tr>
                        <th>Kilometers</th>
                        <td>{{ vehicule.kilometers }}</td>
                    </tr>
                    <tr>
                        <th>Purchase_date</th>
                        <td>{{ vehicule.purchaseDate ? vehicule.purchaseDate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Purchase_price</th>
                        <td>{{ vehicule.purchasePrice }}</td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td id="lat" data="{{ vehicule.lat }}">{{ vehicule.lat }}</td>
                    </tr>
                    <tr>
                        <th>Longitude</th>
                        <td id="lon" data="{{ vehicule.lon }}">{{ vehicule.lon }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ vehicule.status }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ vehicule.type.name }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ vehicule.ville.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="col-12">
                {% if vehicule.image %}
                    {% if vehicule.image starts with 'http' %}
                        <img src="{{ vehicule.image }}" class="img-fluid rounded" />
                    {% else %}
                        <img src="/assets/uploads/vehicule_profile/{{ vehicule.image }}" class="img-fluid rounded" />
                    {% endif %}
                {% else %}
                    <img src="/assets/img/vehicule.png" class="img-fluid rounded" />
                {% endif %}
            </div>
            <div class="col-12 mt-5">
                <div id="map" style="width: 100%; height: 22vh;">
                    <!-- <script>
                    let myLatLng = {lat: parseFloat($('#lat').attr('data')), lng: parseFloat($('#lon').attr('data'))};

                    function initMap() {
                        let map = new google.maps.Map(document.getElementById('map'), {
                            center: myLatLng,
                            zoom: 18,
                            mapTypeId: 'hybrid'
                        });
                        map.setTilt(45);

                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            title: 'Hello World!'
                        });
                    }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5OO81Okr-XgCuyK8m2QApnrPsrJsZwtk&callback=initMap"></script> -->
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('vehicule_index') }}">Back to list</a>
    <a> | </a>
    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}

    </div>
{% endblock %}
