
{% if lastOrderedRecommandation.id is defined %}

<h2>Mes préférences & offres :</h2>
<div class="row">
	<div class="col">

		<div class="card habits-card" style="margin:0 auto;  min-width:256px;"><h3 class="title-habits">Dernier voyage !</h3>
		  <img class="card-img-top" src="{{ lastOrderedRecommandation.vehicule.image }}" alt="Card image cap" style="">
		  <div class="card-body">
		  	<h4>Une balade à {{ lastOrderedRecommandation.vehicule.ville.name|capitalize }}&nbsp;:</h4>
		  	<br />
		    
		    <h5 class="card-title">En {{ lastOrderedRecommandation.vehicule.type.name }} </h5>
		    <p class="card-text"> </p>
		    <p class="card-text"></p>
		    <a href="/location/recommandation/{{ lastOrderedRecommandation.contrat.id }}/{{ lastOrderedRecommandation.vehicule.ville.name }}/{{ lastOrderedRecommandation.vehicule.type.name }}" class="btn btn-primary">à partir de {{ lastOrderedRecommandation.contrat.price }}</a>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card habits-card" style="margin:0 auto;  min-width:256px;">
		<h3 class="title-habits">Comme d'hab ?</h3>
		 {% if mostVille|lower == 'lyon' %}
		  <img class="card-img-top" src="http://data1.ibtimes.co.in/cache-img-640-0/en/full/549410/1417872521_france-festival-lights.jpg" alt="Card image cap" style="">
		 {% else %}
		 <img class="card-img-top" src="http://portail-voyage.fr/wp-content/uploads/2015/02/Paris.jpg" alt="Card image cap">	
		 {% endif %}
		  <div class="card-body">
		  	<h4>Une balade à {{ mostVille|capitalize }}&nbsp;:</h4>
		  	<br />
		    
		    <h5 class="card-title">En {{ mostType }} </h5>
		    <p class="card-text"> </p>
		    <p class="card-text"></p>
		    <a href="/location/recommandation/{{ idC }}/{{ mostVille }}/{{ mostType }}" class="btn btn-primary">{{ bestOffre }}</a>
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card habits-card" style="margin:0 auto;  min-width:256px;"><h3 class="title-habits">Mon Code parrain</h3>
			<p class="card-text">{{ codePromo }}r</p>
			<p class="card-text"><a href="{{ path('app_contact')}}">Envoyer à un ami</a></p>
		</div>
		
	</div>
	<div class="col">
		<div class="card habits-card" style="margin:0 auto;  min-width:256px;"><h3 class="title-habits">Ambassadeur !</h3>
			<p class="card-text"><a href="{{ path('app_contact')}}">nous contacter</a></p>
			<p class="card-text"></p>
		</div>
	</div>
</div>

{% else %}
<div>
	<div style="width:70%; margin:0 auto;">
   		<img class="card-img-top" src="https://image.noelshack.com/fichiers/2019/11/3/1552491311-7d6av6ifxz.jpg" alt="Card image cap" style=""> 
   	</div>
</div>
{% endif %}


	<style type="text/css">
	.title-habits {
		padding: 10px;
	}
	@media screen and (max-width: 640px) {
	  .habits-card {
	  	margin: 10px !important; 
	    min-width:256px;
	    width:100%;
	  }
	  </style>
