<style>
	.content {
		padding: 2em;
		background: #ddd;
		color: white;
	}
</style>

<h2>Lib2Move</h2>

<div class="container">
	<h3>Informations : </h3>
	<p>{{ firstname|capitalize }} {{ lastname|capitalize }} a envoyé un email,</p>
	<p>{{ email }}</p>
	<p>{{ phone }}</p>
	<br>
	<br>
	<br>

	<h3>Message : </h3>


	{% set content = message|split('\n') %}

	<div class="content">
		{% for line in content %}
			<p>{{ line }}</p>
		{% endfor %}
	</div>
</div>

