{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <div class="container">
    <table id="datatable" class="table table-striped table-hover table-responsive cell-border">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contract_name</th>
                <th>Max_time</th>
                <th>Max_km</th>
                <th>Price</th>
                <th>Km_penalty</th>
                <th>Time_penalty</th>
                <th>City_name</th>
                <th>Start</th>
                <th>End</th>
                <th>Vehicule_name</th>
                <th>User_email</th>
                <th>User_lastname</th>
                <th>User_firstname</th>
                <th>User_address</th>
                <th>User_phone</th>
                <th>Brand</th>
                <th>Serie</th>
                <th>Licence_plate</th>
                <th>Pdf</th>
                <th>Tva</th>
                <th>Final_price</th>
                <th>End_diff</th>
                <th>End_final</th>
                <th>Km_final</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.contractName }}</td>
                <td>{{ facture.maxTime ? facture.maxTime|date('H:i') : '' }}</td>
                <td>{{ facture.maxKm }}</td>
                <td>{{ facture.price }}</td>
                <td>{{ facture.kmPenalty }}</td>
                <td>{{ facture.timePenalty }}</td>
                <td>{{ facture.cityName }}</td>
                <td>{{ facture.start ? facture.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.end ? facture.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.vehiculeName }}</td>
                <td>{{ facture.userEmail }}</td>
                <td>{{ facture.userLastname }}</td>
                <td>{{ facture.userFirstname }}</td>
                <td>{{ facture.userAddress }}</td>
                <td>{{ facture.userPhone }}</td>
                <td>{{ facture.brand }}</td>
                <td>{{ facture.serie }}</td>
                <td>{{ facture.licencePlate }}</td>
                <td>{{ facture.pdf }}</td>
                <td>{{ facture.tva }}</td>
                <td>{{ facture.finalPrice }}</td>
                <td>{{ facture.endDiff }}</td>
                <td>{{ facture.endFinal ? facture.endFinal|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.kmFinal }}</td>
                <td>{{ facture.status }}</td>
                <td>
                    <a href="{{ path('facture_pdftest', {'id': facture.id}) }}">Show</a>
                    <!-- <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a> -->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="28">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facture_new') }}">Create new</a>
    </div>
{% endblock %}
